---
import "@fontsource/jetbrains-mono";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>uncopyright</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="thuanowa copyright content" />
    <style>
      html {
        font-size: 1rem;
        font-family: "JetBrains Mono", monospace;

        display: grid;
        place-content: center;

        color: #000000;
        background: #ffffff;
      }

      p {
        max-width: 40rem;
      }

      a:link {
        color: #000000;
      }

      a:hover {
        color: #000000;
      }

      a:visited {
        color: #000000;
      }
    </style></head
  >

  <body>
    <h1>Uncopyright</h1>
    <p>All my contents, are uncopyright.</p>
    <p>
      No need to <a href="mailto:thuanowa@gmail.com">email me</a> for permission
      — use my content whatever you want! Email it, share it, and reprint it with
      or without credit. Change it around, put in a bunch of swear words, and attribute
      them to me. It’s OK.—
    </p>
    <p>Attribution is appreciated but not required.</p>
    <p>List of contents using uncopyright:</p>
    <ul>
      <li>
        Contents in domain name and subdomain of <a href="https://thuanowa.com"
          >thuanowa.com</a
        >
      </li>
      <li>
        My code, example my GitHub <a href="https://github.com/thuanowa"
          >github.com/thuaowa</a
        >
      </li>
      <li>
        My videos on Youtube <a href="https://youtube.com/@thuanowa">
          youtube.com/@thuanowa</a
        >
      </li>
      <li>
        My photos on Google Photos <a href="https://l.thuanowa.com/photos">
          l.thuanowa.com/photos</a
        >
      </li>
    </ul>
    <q
      >Feel free to add your list of uncopyright content in here. <br />
      <a href="mailto:thuanowa@gmail.com">Ask me</a> or just create pull request
      on this repo <a href="https://github.com/thuanowa/uncopyright"
        >github.com/thuanowa/uncopyright</a
      ></q
    >
  </body>
</html>
